body{
    font-family: 'Lobster', cursive;
}
.red-color{
    color:red;
}
h1{
    font-weight: 700;
    font-size: 70px;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
.para-edit{
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    width:70%;

}
.button{
    text-decoration: none;
    color:rgb(0, 255, 221);
    background-image: linear-gradient(rgb(221, 13, 13) , rgb(221, 4, 138));
    padding:20px 40px;
    font-size: large;
    border-radius: 20px;
    
   
}
.section{
    display: flex;
}
.max-width{
    width:50%;
    padding-left: 5%;
    
}
.img1{
    
    width:100%;
}
.img2{
    width:80%;
}
.grey-color{
    color:grey;
}
.background-img{
    background-image: url(images/shapes/Frame\ 59.jpg);

}
.align{
    text-align:center;
}
.sec3-para{
    font-family: 'Times New Roman', Times, serif;
   
}
.img3{
    padding-left:3%;
    padding-top: 5%;
    height:50%;
    width: 90%;
}
.img4{
    padding-left:3%;
    padding-top: 5%;
    height:50%;
    width: 90%;
}
.width{
    width:40%;
    margin: 5% 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 25px;
    border-radius: 10px;
    
}
.display-inline{
    display: inline-block;
    margin-left: 260px;
}
#border-box{
    margin-left: 120px;
    margin-right: 120px;
    border:20px solid lightcoral;
}
#footer{
    background-color: blueviolet;
    height: 200px;
    text-align: center;


    
}
#eat-color{
    color: yellowgreen;
}
#padd{
    padding-top:40px;
}
