body{
    font-family: 'Lobster', cursive;
}
.red-color{
    color:red;
}
h1{
    font-weight: 700;
    font-size: 70px;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
.para-edit{
    margin-bottom: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    width:50%;

}
.button{
    text-decoration: none;
    color:rgb(0, 255, 221);
    background-image: linear-gradient(rgb(221, 13, 13) , rgb(221, 4, 138));
    padding:20px 40px;
    font-size: large;
    border-radius: 20px;
    
   
}
.section{
    display: flex;
}
.max-width{
    width:50%;
    padding-left: 5%;
    
}
.img1{
    
    width:100%;
}
.img2{
    width:80%;
}
.grey-color{
    color:grey;
}
.background-img{
    background-image: url(images/shapes/Frame\ 59.jpg);

}

